QUEUE_CONNECTION_STRING=DefaultEndpointsProtocol=http\;AccountName=devstoreaccount1\;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==\;QueueEndpoint=http://storage:10001/devstoreaccount1;MONGO_HOST=localhost;MONGO_PORT=27017;MONGO_USERNAME=admin;MONGO_PASSWORD=password;ECOMMERCE_DATABASE_NAME=ecommerce;TRANSACTION_EXPIRED_EVENTS_QUEUE_NAME=transactioncexpiredevents;MONGO_SSL_ENABLED=false;PENDING_TRANSACTIONS_SCHEDULE_CRON=*/10 * * * * *;PENDING_TRANSACTIONS_WINDOWS_BATCH_EXECUTION_RATE_MULTIPLIER=2;PENDING_TRANSACTIONS_PARALLEL_EVENTS_TO_PROCESS=1;